@page
@model My.Demo.Web.Pages.Movies.ListMoviesModel
@{
    ViewData["Title"] = "ListMovies";
}

<h1>List Movies</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Language</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>@movie.Genre</td>
            <td>@movie.Language</td>
            <td>
                <a asp-route-id="@movie.Id" asp-page="ViewMovie"><i class="fa fa-glasses"></i></a>
                <span class="mn-lg-3">&nbsp;</span>
                <a asp-route-id="@movie.Id" asp-page="AddEditMovie"><i class="fa fa-edit"></i></a>
                <span class="mn-lg-3">&nbsp;</span>
                <a asp-route-id="@movie.Id" asp-page="AssociatePrincipal"><i class="fa fa-users"></i></a>
                <span class="mn-lg-3">&nbsp;</span>
                <a asp-route-id="@movie.Id" asp-page="ConfirmDelete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-page="AddEditMovie" class="btn btn-primary">Add Movie</a>
